<!doctype html>
<head>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	
</head>

	<title>Hello from Flask</title>
	

<div class="container">
	<h1 class="text-center">FrauenLoop, SQL cycle - Final Project</h1>
	<p> Fieri, inquam, Triari, nullo pacto potest, ut non dicas, quid non probes eius, a quo dissentias. quid enim me prohiberet Epicureum esse, si probarem, quae ille diceret? cum praesertim illa perdiscere ludus esset. Quam ob rem dissentientium inter se reprehensiones non sunt vituperandae, maledicta, contumeliae, tum iracundiae, contentiones concertationesque in disputando pertinaces indignae philosophia mihi videri solent.</p>
	<div id="left" class="col-md-6"> 
	<h2 class="text-center">Movies Dataset</h2>
		
		<div id="chart" >
			<embed type="image/svg+xml" src= "static/budgetvsrevenue1.svg" />
		</div>
		<p>Fieri, inquam, Triari, nullo pacto potest, ut non dicas, quid non probes eius, a quo dissentias. quid enim me prohiberet Epicureum esse, si probarem, quae ille diceret?</p>

		<div id="chart">
			<embed type="image/svg+xml" src= "static/colorORblack7.svg" />
		</div>
		<p>Fieri, inquam, Triari, nullo pacto potest, ut non dicas, quid non probes eius, a quo dissentias. quid enim me prohiberet Epicureum esse, si probarem, quae ille diceret?</p>
		<div id="chart">
			<embed type="image/svg+xml" src= "static/facebook_duration5.svg" />
		</div>
		<p>Fieri, inquam, Triari, nullo pacto potest, ut non dicas, quid non probes eius, a quo dissentias. quid enim me prohiberet Epicureum esse, si probarem, quae ille diceret?</p>
		<div id="chart">
			<embed type="image/svg+xml" src= "static/top10actors1.svg" />
		</div>
		<p>Fieri, inquam, Triari, nullo pacto potest, ut non dicas, quid non probes eius, a quo dissentias. quid enim me prohiberet Epicureum esse, si probarem, quae ille diceret?</p>

		<div id="chart">
			<embed type="image/svg+xml" src= "static/geandre2.svg"/>
		</div>
		<p>Fieri, inquam, Triari, nullo pacto potest, ut non dicas, quid non probes eius, a quo dissentias. quid enim me prohiberet Epicureum esse, si probarem, quae ille diceret?</p>
		
		<div id="chart">
			<embed type="image/svg+xml" src= "static/genresVSimdbscore1.svg" />
		</div>
		<p>Fieri, inquam, Triari, nullo pacto potest, ut non dicas, quid non probes eius, a quo dissentias. quid enim me prohiberet Epicureum esse, si probarem, quae ille diceret?</p>


	</div>
	<div id="right" class="col-md-6">
	<h2 class="text-center">Olympics Games Dataset</h2>
		
		<div id="chart">
			<embed type="image/svg+xml" src= "static/world_winter_summer999.svg" />
		</div>
		<p>Fieri, inquam, Triari, nullo pacto potest, ut non dicas, quid non probes eius, a quo dissentias. quid enim me prohiberet Epicureum esse, si probarem, quae ille diceret?</p>
		<div id="chart">
			<embed type="image/svg+xml" src= "static/year_gender.svg" />
		</div>
		<p>Fieri, inquam, Triari, nullo pacto potest, ut non dicas, quid non probes eius, a quo dissentias. quid enim me prohiberet Epicureum esse, si probarem, quae ille diceret?</p>
		<div id="chart">
			<embed type="image/svg+xml" src= "static/recordbysport.svg" />
		</div>
		<p>Fieri, inquam, Triari, nullo pacto potest, ut non dicas, quid non probes eius, a quo dissentias. quid enim me prohiberet Epicureum esse, si probarem, quae ille diceret?</p>
		<div id="chart">
			<embed type="image/svg+xml" src= "static/world_best22.svg" />
		</div>
		<p>Fieri, inquam, Triari, nullo pacto potest, ut non dicas, quid non probes eius, a quo dissentias. quid enim me prohiberet Epicureum esse, si probarem, quae ille diceret?</p>
		<div id="chart">
		<embed type="image/svg+xml" src= "static/radar11.svg" />
		</div>
		<p>Fieri, inquam, Triari, nullo pacto potest, ut non dicas, quid non probes eius, a quo dissentias. quid enim me prohiberet Epicureum esse, si probarem, quae ille diceret?</p>
		<div id="chart">
		<embed type="image/svg+xml" src= "static/radar11.svg" />
		</div>
		<p>Fieri, inquam, Triari, nullo pacto potest, ut non dicas, quid non probes eius, a quo dissentias. quid enim me prohiberet Epicureum esse, si probarem, quae ille diceret?</p>
	</div>

	<div id="bottom">
		<h2 class="text-center">Combined Datasets </h2>
		<div id="chart">
		<embed type="image/svg+xml" src= "static/combine.svg" />
		</div>
		<p>Fieri, inquam, Triari, nullo pacto potest, ut non dicas, quid non probes eius, a quo dissentias. quid enim me prohiberet Epicureum esse, si probarem, quae ille diceret?</p>
	</div>
</div>	
</html>